html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font-family: inherit;vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-family: 'Source Code Pro', monospace;
    font-size: 62.5%;
}

body {
    color: #111;
    font-size: 2.4rem;
    text-transform: uppercase;
    background-color: steelblue;
    text-align: center;
}

.container {
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: auto 400px;
    justify-content: center;
    align-content: center;
}

header {
    display: grid;
    justify-content: center;
    align-self: end;
}

h1 {
    margin: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 3.6rem;
    background-color: goldenrod;
}
h2 {
    font-size: 2.8rem;
}

form, .group, main {
    display: grid;
    grid-template-rows: 1fr auto;
    align-self: start;
    justify-items: center;
}

form, .wrapper {
    max-width: 320px;
    grid-gap: 20px;
}

.wrapper, .opponents {
    display: grid;
    grid-row: 1 / span 1;
}

label, p {
    font-size: 1.8rem;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
}

input:focus, button:hover, button:focus {
    background-color: goldenrod;
}


main {
    grid-gap: 40px;
}

.opponents {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

figure {
    display: grid;
    justify-items: center;
    position: relative;
}

img {
    padding: 20px;
    border-radius: 50%;
}

figcaption {
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
}

p {
    padding: 20px;
}

button {
    display: block;
    grid-row: span 1 / -1;
}

#battle {
    justify-self: center;
}

.badge {
    padding: 2px 5px 2px 9px;
    position: absolute;
    top: -1%;
    left: -5%;
    font-weight: 900;
    background-color: goldenrod;
    transform: rotate(-15deg);
}

.hide {
    display: none;
}

@media (orientation: portrait) {
    body {
        font-size: 2.0rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    .opponents {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
    }
    img, p {
        padding: 10px;
    }
    
}